<ng-container *ngFor="let teacher of remoteUsers | roles: Role.TEACHER">
  <app-remote-user *ngIf="teacher.id !== localUser.id" [remoteUser]="teacher"></app-remote-user>
</ng-container>

<app-local-user [team]="localUserTeams[0]"></app-local-user>

<div id="remote-users">
  <div *ngFor="let remoteUser of (this.remoteUsers | roles: Role.STUDENT | filterOnlineUsers)">
    <app-remote-user
      *ngIf="!gameMode.isTeamTalkStarted || (gameMode.teams | isLocalUserTeam : remoteUser.id)"
      [remoteUser]="remoteUser"
      [team]="(gameMode.teams | userTeam : remoteUser.id)">
    </app-remote-user>
  </div>
</div>
