<app-local-user></app-local-user>

<button (click)="toggleVideo()" [disabled]="!joined">
  {{ this.localUser.zoomUser?.isVideoOn ? 'Off Video' : 'On Video' }}
</button>

<button (click)="toggleAudio()" [disabled]="!joined">
  {{ this.localUser.zoomUser?.isAudioOn ? 'Off Audio' : 'On Audio' }}
</button>

<button (click)="createDemoTeams()">
  Creations Teams demo
</button>

<button (click)="toggleTeamTalk()">
  {{ gameMode.isTeamTalkStarted ? 'End' : 'Start' }} team talk
</button>

<div id="remote-users">

  <ng-container *ngIf="gameMode.isStarted; then inGameMode else notInGameMode"></ng-container>
  <ng-template #inGameMode>
    <div *ngFor="let team of gameMode.teams | keyvalue">
      In game mode
      <ng-container *ngIf="team.value.userIds.has(localUser.id)">
        <ng-container  *ngFor="let userId of team.value.userIds">
          <app-remote-user [remoteUser]="remoteUsers[userId]"></app-remote-user>
        </ng-container>
      </ng-container>
    </div>
  </ng-template>

  <ng-template #notInGameMode>
    Not in game mode
    <div style="border: black" *ngFor="let remoteUser of (this.remoteUsers | filterOnlineUsers)">
      <app-remote-user [remoteUser]="remoteUser"></app-remote-user>
    </div>
  </ng-template>
</div>
