<div *ngIf="localUser">
<!--  <video #mediaWrapper width="200" height="122"></video>-->
  <div #mediaWrapper></div>
  <br>
  {{ localUser.role }} {{ localUser.username }} {{ localUser.id }}
  <br>
</div>

<button (click)="toggleVideo()" [disabled]="!localUser.audioVideoUser?.joined">
  {{ this.localUser.audioVideoUser?.isVideoOn ? 'Off Video' : 'On Video' }}
</button>

<button (click)="toggleAudio()" [disabled]="!localUser.audioVideoUser?.joined">
  {{ this.localUser.audioVideoUser?.isAudioOn ? 'Off Audio' : 'On Audio' }}
</button>
